:root {
	--columnNumber: 16;
}

.board{
	margin: 150px auto;
	display: grid;
	grid-template-columns: repeat(var(--columnNumber), auto);
	width: 720px;
	height: 720px;
	border: 10px solid black;
}
.gridCell{
	margin: 0;
	padding: 0;
	background: #fff;
}

